aenum==3.1.17
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.6
frozenlist==1.8.0
idna==3.11
isodate==0.7.2
lxml==6.0.2
multidict==6.7.1
platformdirs==4.9.4
propcache==0.4.1
pydantic==1.10.26
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.33.1
requests-file==3.0.1
requests-toolbelt==1.0.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3
wxc-sdk==1.15.0
yarl==1.23.0
zeep==4.3.2
